@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  min-width: 1535px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.3, #2795d5), color-stop(0.6, #2795d5), color-stop(0.9, #2795d5))
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
    -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
    background-color: #f7f7f7;
  }
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// navbar样式覆盖
.commonLoginOut {
  padding: 6px 14px !important;
  border: 1px solid #2795d5 !important;
  margin-top: 0 !important;
  .popper__arrow {
    border-bottom-color: #2795d5 !important;
  }
}

.v-email {
  .el-badge__content {
    &.is-fixed {
      top: 17px;
    }
  }
}

// dashboard样式覆盖
.canvas-filter-container {
  &.filter-container {
    padding-bottom: 0;
    text-align: center;
    .filter-item {
      margin-bottom: 0;
    }
    .el-date-editor {
      .el-range-input {
        width: 80px;
        font-size: 12px;
      }
      .el-range-separator {
        width: 30px;
      }
      .el-range__close-icon {
        float: none;
      }
    }
  }
}

// 重定义dialog样式
.defineDialog {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  &.userDialog {
    .el-dialog__body {
      padding-bottom: 10px;
    }
  }
  &.IPDialog {
    .el-radio {
      padding: 10px 0;
    }
  }
  p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  &.ExportDialog {
    .el-dialog__body {
      padding-bottom: 10px;
      p {
        text-indent: 2em;
      }
    }
  }
  .el-dialog__header {
    background-color: #2795d5;
    color: #fff;
    .el-dialog__title {
      color: #fff;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }
  }
  .dialog-footer {
    text-align: center;
  }
}

.el-message-box__wrapper {
  .el-message-box {
    border: 0;
    .el-message-box__header {
      background-color: #2795d5;
      .el-message-box__title, .el-message-box__headerbtn .el-message-box__close {
        color: #fff;
      }
    }
  }
}

// 重定义table部分样式
.el-table__header {
  th {
    font-weight: normal;
  }
}

// 自定义btn颜色--Slateblue--#00bcd4
.el-button--slateblue {
  color: #fff;
  background-color: #3a8ee6;
  border-color: #3a8ee6;
  &:hover, &:focus {
    background: #609ce6;
    border-color: #609ce6;
    color: #fff;
  }
}
